@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Oxygen:400,300,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-transition: width, font-size, color 0.3s ease-in-out;
	-moz-transition: width, font-size, color 0.3s ease-in-out;  
	-o-transition: width, font-size, color 0.3s ease-in-out;  
	transition: width, font-size, color 0.3s ease-in-out; 

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font: 62.5% verdana, tahoma, sans-serif;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color:black;
}

.homeHeader {
	position:relative;
	width:100%;
	height: 104em;
}

footer {
	font-size: 1.5em;
	text-align: center;
	background-color: rgba(216, 255, 0, .8);
	padding:2em 0;
}

.logoContainer {
	position:fixed;
	left:30%;
	font-size:6em;
}

.logoContainer * {
	display:block;
}

.nomaddictLogo {
	width: 100%;
}

.tourTile {
	float:left;
	margin: 0 0 -2px 0;
	padding: 0;
	position: relative;
	display:inline-block;
}

.tourName, .innerTourName {
	position:absolute;
	z-index: 2;
	bottom: 0.1em;
	left:5%;
	font-size: 8em;
	color: white;
	background-color: rgba(216, 255, 0, .5);
	text-transform: uppercase;
}

.tourWall {
	overflow: auto;
}

.full {
	width:100%;
}

.half {
	width:50%;
}

.third {
	width:33.3333333%;
}

.footstep {
	z-index:-1;
	display:none;
	opacity: 0.7;
}
.uno {
	left:75%;
}
.dos {
	left:83%;
}
.tres {
	left:77%;
}
.quatro {
	left:85%;
}
.cinco {
	left:75%;
}
.seis {
	left:83%;
}
.siete {
	left: 77%;
}
.ocho {
	left: 85%;
}

/*---------------------------------------------------------------------------------------------
-------------------------------- Tour page -------------------------------------------------
-----------------------------------------------------------------------------------------------*/
.tourHero {
	position: relative;
}

h1, h2, h3, h4 {
	font-family: 'Cabin';
}

.tourSection {
	font-family: 'Oxygen'
;	font-size: 1.8em;
	background-color: white;
	padding: 1em 0 1em 5%;
	width: 100%;
}

.tourArticle {
	overflow: auto;
}

.tourArticle > * {
	float: left;
}

.tourArticle:after {
	clear: none;
	content: "";
	height: 0;
	display: block;
	visibility: hidden;
}

.cityStats {
	font-size:1em;
	width: 20%;
	display: inline-block;
}

.cityStats span {
	display: inline-block;
}

.tourStory {
	width: 80%;
	padding-right: 15%;
	font-size: .8em;
}
.coords {
}



.tourColumn {
	width:80%;
}

.tourP {
	margin-bottom: 1em;
}

/*---------------------------------------------------------------------------------------------
--------------------------------Responsiveness-------------------------------------------------
-----------------------------------------------------------------------------------------------*/

@media (max-width: 45em) {
	.logoContainer {
		width:90%;
		left:5%;
		font-size: 5em;
	}

	.footstep {
		width: 3em;
	}

	.tourName {
		font-size: 4em;
	}
}

@media (max-height: 28em) {
	.logoContainer{
		width: 30%;
		font-size: 2.5em;
	}

	.footstep {
		width:3em;
	}

	.uno {
		top:1em ;
	}

	.dos {
		top: 3em ;
	}

	.tres {
		top: 8em ;
	}

	.quatro {
		top: 10em ;
	}

	.cinco {
		top: 16em;
	}

	.seis {
		top: 18em;
	}
}

@media (max-width: 45em) and (max-height: 28em) {
	.logoContainer {
		width:50%;
	}
}

/*Individual tour responsiveness*/
@media (max-width:64em) {
	.cityStats {
		width: 100%;
		margin-bottom: 1em;
	}
	.statHolder {
		margin-right: 10%;
		display:inline-block;
	}
}

@media (max-width:56em) {
	.innerTourName {
		font-size:6em;
	}
}
@media (max-width:46em) {
	.innerTourName {
		font-size:5em;
	}
}
@media (max-width:43em) {
	.innerTourName {
		font-size:4em;
		top: 0.1em;
		bottom: 2.4em;
	}
	.tourSection {
		padding:1em;
	}
	.tourStory {
		width: 100%;
		padding-right: 5%;
	}
}
